In [65]:
import pandas as pd
import numpy as np

In [66]:
etd = '2023-01-31'

In [67]:
df_complaint_21_22 =pd.read_excel(r'C:\Medline\2. CPM\2. US Complaints\US Complaint Data 201901-202401.xlsx',sheet_name=1)
df_complaint_21_22 = df_complaint_21_22.loc[df_complaint_21_22['Year'].isin([2021,2022])]

C:\Users\ypeng\AppData\Local\Temp\ipykernel_21092\2844925773.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df_complaint_21_22 =pd.read_excel(r'C:\Medline\2. CPM\2. US Complaints\US Complaint Data 201901-202401.xlsx',sheet_name=1)

In [68]:
df_complaints_2024 = pd.read_excel(r'C:\Medline\2. CPM\2. US Complaints\2024\202401 Complaint Data.xlsx',sheet_name=0)
df_complaints_2024.drop(columns='New manufacturing complaints',inplace=True)

In [69]:
df_complaints_2023 = pd.read_excel(r'C:\Medline\2. CPM\2. US Complaints\2023\202301 Complaint Data.xlsx',sheet_name='2023 Complaint Database')

In [70]:
df_complaints = pd.concat([df_complaints_2024,df_complaints_2023,df_complaint_21_22],ignore_index=True)

In [71]:
vendor_mapping = pd.read_excel(r'C:\Medline\2. CPM\data\vendor_mapping\Vendor _mapping 2024_v1.xlsx')
vendor_mapping['Vendor Number'] = vendor_mapping['Vendor Number'].map(str)

In [72]:
df_complaints['Notification Created Date'] = pd.to_datetime(df_complaints['Notification Created Date'],format='%Y-%m-%d')

In [73]:
(
    df_complaints
    .query("`If Manufacturing Complaint` == 'Y' and Year.isin([2021,2022,2023,2024])")
    .assign(Quarter =lambda d: d['Notification Created Date'].dt.quarter)
    .pivot_table(
        index = ['Division'],
        columns = ['Year','Quarter'],
        values = ['Notification Number'],
        aggfunc ='count',
        fill_value=0,
        margins=True
    )
)

         Notification Number                                               \
Year                    2021                   2022                  2023
Quarter                    1     2     3    4     1     2     3    4    1
Division
10                       158    71    69   39   109    84    69   60   14
14                         7     6     5    0     0     6     2    2    0
15                        52    35    28   15    33    34    27    2    0
18                        19    23    17    3     5     9     9    3    1
20                         1     7     5    2     1     3     1    0    0
21                        15    17    16   10    17    19    14   11    4
22                        80    59    34   35    29    29    34   23    1
29                         2     0     3    1     3     2     2    0    0
30                      1050   742   802  814   933   981  1239  729   67
32                         0     0     0    0     0     0     0    0    0
33                         0     2     1    3     6     0     0    0    0
34                         0     0     0    0     0     0     0    0    0
35                        98     1     0    0    32    33    12    2    0
40                         8    10     9   12    12     5    19    9    4
41                         4     4     4    1    12     5    12    2    0
49                         0     0     0    0     0     0     0    0    0
50                        35    10    13    4     1     2     1    7    1
51                         2     0     3    6    14     7    16   11    4
55                         0     1     2    2     1     4     0    1    0
60                         0     1     0    0     0     0     1    0    0
70                         0     0     0    0     0     1     0    0    0
71                         0     1     0    0     0     0     2    0    0
72                         0     0     0    0     5    11     4    2    0
75                         3     0     0    0     0     0     0    1    0
81                        39    34    45    7     0     0    10   25    3
82                         3     1     0    1     2     1     0    0    0
All                     1576  1025  1056  955  1215  1236  1474  890   99


Year     2024   All
Quarter     1
Division
10         47   720
14          0    28
15         20   246
18          6    95
20          0    20
21          5   128
22          6   330
29          0    13
30         83  7440
32          9     9
33          0    12
34          9     9
35         19   197
40          5    93
41          0    44
49          1     1
50          0    74
51          2    65
55          0    11
60          0     2
70          0     1
71          0     3
72          0    22
75          6    10
81          6   169
82          0     8
All       224  9750

In [74]:
df_complaints_gy = (
    df_complaints
    .query("`If Manufacturing Complaint` == 'Y' and Year.isin([2021,2022,2023,2024])")
    .assign(Quarter =lambda d: d['Notification Created Date'].dt.quarter,
            Division = lambda d: d['Division'].map(str),
            )
    .groupby(['Division','Year','Quarter','Month'],as_index=False).size()
)
df_complaints_gy.rename(columns={'size':'Complaints'},inplace=True)

In [75]:
df_BUOM_2021  = pd.read_excel(r'C:\Medline\2. CPM\4. CPM by BUOM\BUOM Database\history\US_ShippingData_2021.xlsx', usecols='D,E,AB,AP,BI')
df_BUOM_2022  = pd.read_excel(r'C:\Medline\2. CPM\4. CPM by BUOM\BUOM Database\history\US_ShippingData_2022.xlsx', usecols='D,E,AB,AP,BI')

In [76]:
df_BUOM_2023  = pd.read_excel(r'C:\Medline\2. CPM\4. CPM by BUOM\BUOM Database\history\US BUOM 202312.xlsx', usecols='C,D,H,P,Q')
df_BUOM_2023 = df_BUOM_2023.loc[df_BUOM_2023['ShipmentDt'] <= etd]

In [77]:
df_BUOM_2024  = pd.read_excel(r'C:\Medline\2. CPM\4. CPM by BUOM\BUOM Database\2024\US\US BUOM 202401.xlsx', usecols='D,E,P,X,Y')

In [78]:
df_BUOM_all = pd.concat([df_BUOM_2024,df_BUOM_2023,df_BUOM_2022,df_BUOM_2021],ignore_index=True)

In [79]:
df_BUOM_all.dropna(subset=['StrippedVendorNumber'],inplace=True)

In [80]:
df_BUOM_all['Year'] = df_BUOM_all['ShipmentDt'].dt.year
df_BUOM_all['Quarter'] = df_BUOM_all['ShipmentDt'].dt.quarter
df_BUOM_all['Month'] = df_BUOM_all['ShipmentDt'].dt.month

In [81]:
df_BUOM_all.rename(columns={'StrippedVendorNumber':'VendorNumber','ProductDivisionCode':'Division','BUOMShipmentQty':'BUOM'},inplace=True)
df_BUOM_all['Division'] = df_BUOM_all['Division'].map(int).map(str)
df_BUOM_all['VendorNumber'] = df_BUOM_all['VendorNumber'].map(int).map(str)

In [82]:
df_BUOM_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 595598 entries, 0 to 595600
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   VendorNumber  595598 non-null  object
 1   VendorName    595598 non-null  object
 2   Division      595598 non-null  object
 3   BUOM          595598 non-null  int64
 4   ShipmentDt    595598 non-null  datetime64[ns]
 5   Year          595598 non-null  int64
 6   Quarter       595598 non-null  int64
 7   Month         595598 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 40.9+ MB

In [83]:
df_BUOM_all

,VendorNumber,VendorName,Division,BUOM,ShipmentDt,Year,Quarter,Month
0,133288,GUANGDONG WONDERFUL PRODUCTS CO LTD,15,13296,2024-01-02,2024,1,1
1,133288,GUANGDONG WONDERFUL PRODUCTS CO LTD,15,8880,2024-01-02,2024,1,1
2,133288,GUANGDONG WONDERFUL PRODUCTS CO LTD,15,6624,2024-01-02,2024,1,1
3,119885,COM BRIDGE INTERNATIONAL CO LTD,30,558,2024-01-02,2024,1,1
4,119885,COM BRIDGE INTERNATIONAL CO LTD,30,80,2024-01-02,2024,1,1
...,...,...,...,...,...,...,...,...
595596,134137,APEX TRANSGULF MANUFACTURING,50,1200000,2021-12-29,2021,4,12
595597,148393,COMBO ZHONGSHAN MEDICAL EQUIPMENT C,30,1904,2021-12-20,2021,4,12
595598,105110,SINO PROTECTION HOLDINGS CO LTD,22,12740,2021-11-23,2021,4,11
595599,105110,SINO PROTECTION HOLDINGS CO LTD,22,1150,2021-11-23,2021,4,11
595600,105110,SINO PROTECTION HOLDINGS CO LTD,22,1200,2021-11-23,2021,4,11

In [84]:
vendor_mapping_inspection = vendor_mapping.loc[(~vendor_mapping['Regional Manager'].isin(['Exemption','US vendor']))&(vendor_mapping['Regional Manager'].notnull()),'Vendor Number'].to_list()
df_BUOM_all = df_BUOM_all.loc[df_BUOM_all['VendorNumber'].isin(vendor_mapping_inspection)]

In [85]:
df_BUOM_gy = df_BUOM_all.groupby(['Division','Year','Quarter','Month'],as_index=False)['BUOM'].sum()

In [86]:
df_cpm = pd.merge(df_complaints_gy,df_BUOM_gy,on=['Division','Year','Quarter','Month'],how='outer').fillna(0)

In [87]:
df_cpm.to_excel('./out.xlsx')

In [88]:
pivot_table  = (
    df_cpm
    .pivot_table(
        index = ['Division'],
        columns = ['Year','Quarter'],
        values = ['Complaints', 'BUOM'], # 指定想要运算的列
        aggfunc = {'Complaints': 'sum', 'BUOM': 'sum'},
        fill_value = 0
    )
)

In [89]:
pivot_table.to_excel('pivot_table.xlsx')